html {
    background: url(../images/IMG-20130805-WA0001.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding-top: 20px;
    background: transparent;
}
.margin-base-vertical {
    margin: 40px 0;
}
.center-everything {
    text-align: center;
}

.panel {
    background-color: rgba(255, 255, 255, 0.9);   
}


label {
  font-size: 2em;
}

.diff-true {
  color: blue;
}

.diff-false {
  color: red;
}

.chart{

}

.bar{
  text-align: right;
  background-color: steelblue;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
